
h1{
    color:black;
    margin-top: 30px;
    background-color: rgb(228, 224, 224);
    margin-bottom: 10px;
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    
}
.section{
    background-color: white;
    padding: 70px;
}
.container{
    background-color: rgb(228, 224, 224);
    width: 300px;
    border: 2px solid;
    border-radius: 10px;
}
.row{
    margin: 3px;
    display: flex;
    justify-content: center;

}
.col-2{
    color: black;
    background-color:rgb(183, 179, 179);
    margin: 2px;
    height: 50px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
}
.clear{
    background-color:rgb(187, 209, 99);
    margin-left: 5px;
    display: flex;
    justify-content: center;
    border: 2px solid white;
    border-radius: 10px;
    height: 30px;
    width: 50px;
    font-size: xx-small;
    margin-left: 20px;
    color: black;
    
}
.last{
    padding-bottom: 40px;
}
.mod{
    background-color:orange;
}
.mult{
    background-color: orange;
}
.add{
    background-color: orange;
}

.sub{
    background-color: orange;
}
.eq{
    background-color: orange;
}
.div{
    background-color: orange;
}
.col-6{
    background-color: rgb(183, 163, 128);
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size:small;
    width: 125px;
    display: flex;
    justify-content: left;
    align-items: center;
}